// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Clearfix
@mixin clearfix() {
  content: "";
  display: table;
  table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
  clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
  width:
    map-get($columns, $numberColumns) -
    (($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

@mixin bp($p, $q: null, $orient: width, $orientation: null) {
  @if ($q != null) {
    @if ($orientation == null) {
      @media (min-#{$orient}: $p * 1px) and (max-#{$orient}: $q * 1px) {
        @content;
      }
    }

    @else {
      @media (min-#{$orient}: $p * 1px) and (max-#{$orient}: $q * 1px) and (orientation: $orientation) {
        @content;
      }
    }
  }

  @else {
    @if ($orientation == null) {
      @media (min-#{$orient}: $p * 1px) {
        @content;
      }
    }

    @else {
      @media (min-#{$orient}: $p * 1px) and (orientation: $orientation) {
        @content;
      }
    }
  }
}

@function transit($el, $time: 250, $ease: ease-in-out, $delay: 0) {
  @return #{$el} #{$time}ms $ease #{$delay}s;
}

/* @mixin colored-links($link, $hover: $link, $visited: $hover) {
  color: $link;
  //background-color: $background;
  transition: transit(color), transit(background-color), transit(border-color);

  &:visited {
    color: $visited;
  }

  &:hover {
    color: $hover;
    //background-color: $backHover;
  }
} */

@mixin colored-links($link, $hover: $link, $visited: $hover) {
  @include var(color, $link);

  transition: transit(color), transit(background-color), transit(border-color);

  &:visited {
    @include var(color, $visited);
  }

  &:hover {
    @include var(color, $hover);
  }
}

@mixin backimage($x: 50, $y: 50) {
  position: relative;
  background-position: $x * 1% $y * 1%;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin absmid($direction: "b", $offset: 50) {
  position: absolute;

  @if ($direction == "b") {
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }

  @else if ($direction == "v") {
    top: $offset * 1%;
    transform: translateY(-50%);
  }

  @else if ($direction == "h") {
    left: $offset * 1%;
    transform: translateX(-50%);
  }
}

@mixin blue_grad() {
  background:
    -moz-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(8, 43, 70, 1) 100%
    );
  background:
    -webkit-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(8, 43, 70, 1) 100%
    );
  background:
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(8, 43, 70, 1) 100%
    );
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#ffffff", endColorstr="#082b46", GradientType=1);
}

@mixin half($el, $t, $r, $b, $l, $divider) {
  #{$el}:
    ($t / $divider) * 1px if($r == "auto", auto, ($r / $divider) * 1px)
    ($b / $divider) * 1px if($l == "auto", auto, ($l / $divider) * 1px);
  transition: transit($el);
}

@mixin half1($el, $value, $divider) {
  #{$el}: ($value / $divider) * 1px;
  transition: transit($el);
}

@mixin sitewidth() {
  max-width: 1200px;

  @include center-block;

  @include bp( 1, 1250 ) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;

      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin selection( $color, $background ) {
  &::-moz-selection,
  &::selection {
    color: $color;
    background-color: $background;
  }
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
    box-shadow: inset 0 0 6px rgba(black, 0.3);
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@mixin var($property, $varName) {
  // #{$property}: map-get($vars, $varName);
  #{$property}: #{map-get($vars, $varName)};
  #{$property}: var(--#{$varName});
  transition: transit(color), transit(background-color);
}

@mixin bar($properties...) {
  @each $property, $value in $properties {
    @warn "#{$value}";

    #{$property}: $value;
  }
}
