.wp-block-file a.wp-block-file__button,
a.wp-block-file__button,
.wp-block-button__link,
.btn {
  padding: 16px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 0 !important;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  transition: transit(color), transit(background-color);

  @include colored-links( c_white, c_white, c_white );

  &-primary {
    @include var(background-color, c_blue);

    &:hover {
      background-color: $comp;
    }
  }

  &-outline {
    background-color: transparent;

    &.white {
      box-sizing: border-box;
      border: 2px solid;

      @include var(border-color, c_white);
      @include colored-links( c_white, c_comp, c_white );

      &:hover {
        @include var(border-color, c_comp);
      }
    }
  }
}

button[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
}

.wp-block-buttons {
  div.wp-block-button {
    margin: 0;
  }
}

a.wp-block-button {
  &__link {
    @extend .btn;
    @extend .btn-primary;
  }
}

.is-style-outline {
  .wp-block-button__link {
    @include var(color, c_comp);

    padding: 14px 16px;

    &:hover {
      border: 2px solid;

      @include var(border-color, c_comp);
      @include var(color, c_white);
      @include var(background-color, c_comp);
    }
  }
}

.acf-form-buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
