/** Search form */
// TODO: .search-form {}
// TODO: .search-form label {}
// TODO: .search-form .search-field {}
// TODO: .search-form .search-submit {}

#fieldsExtend {
  border-radius: 0;
  padding: 13.5px;
  line-height: 1;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid;
  background-color: transparent;

  @include var(color, c_bodycolor);
  @include var(border-color, c_bodycolor);

  &::placeholder {
    @include var(color, c_bodycolor);
  }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
input[type="file"],
textarea {
  @extend #fieldsExtend;

  .acf-form .acf-field & {
    @extend #fieldsExtend;
  }

  .caldera-grid form .form-group &.form-control {
    @extend #fieldsExtend;
  }
}

/* .caldera-grid {
  form {
    .form-group {
      input[type="submit"] {
        // display: none;
      }
    }
  }
} */

input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;

  .caldera-grid form .form-group & {
    @extend .btn;
    @extend .btn-primary;
  }
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  width: 10px;

  &::before,
  &::after {
    content: "";
    color: $blue;
    display: block;
    border: 2px solid;
    height: 14px;
    width: 14px;
    border-radius: 100%;
    position: absolute;
    top: -3px;
    left: -3px;

    @include var(border-color, c_blue);
    @include var(background-color, c_bodybackground);
    // content: "\f111";
    // font-family: "Font Awesome 5 Free", serif;
    // font-weight: 400;
  }

  &:checked::after {
    content: "";
    height: 4px;
    width: 4px;
    top: 2px;
    left: 2px;

    @include var(background-color, c_blue);
    // content: "\f192";
  }

  & + label {
    cursor: pointer;
    margin-left: 10px;
  }
}

fieldset {
  border: 0;
}

select {
  padding: 12px 1em;
  max-width: 100%;
  width: 100%;
}

.nf-field {
  .submit-wrap {
    .ninja-forms-field {
      @extend .btn;
      @extend .btn-primary;
    }
  }
}

.nf-field-description {
  font-size: 14px;
  margin-bottom: 10px;
}
