a {
  @include colored-links( c_dblue, c_comp, c_blue );

  text-decoration: none;
}

.posts-pagination {
  ul {
    &.page-numbers {
      list-style-type: none;
      margin: 30px 0;
      padding: 0;
      text-align: center;
    }
  }

  li {
    display: inline-block;
  }

  a {
    padding: 13px;
    line-height: 1;
  }
}
