.wp-block-embed-wordpress-tv .wp-block-embed__wrapper,
.wp-block-embed-youtube .wp-block-embed__wrapper,
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

figure,
.mejs-container {
  max-width: 850px !important;
}

.content {
  .main {
    .entry-content,
    .ava-block {
      iframe,
      object,
      embed {
        width: 100%;
        height: 478px;
      }
    }
  }
}
