//@import "common/mixins";
//@import "common/normalize";
@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/** Import theme styles */
@import "common/global";
@import "components/wp-classes";

/** ACF Block styles */
//@import "blocks/_block-parts";

body {
  @include var(background-color, c_grey);

  a {
    @include colored-links(c_blue, c_comp, c_blue);
  }

  &.login {
    a {
      @include colored-links(c_blue, c_comp, c_blue);
    }

    #backtoblog {
      a {
        @include colored-links(c_blue, c_comp, c_blue);
      }
    }

    #reg_passmail {
      @include var(color, c_blue);
    }

    form {
      @include var(background-color, c_white);

      border: 0;

      input {
        border-radius: 0;
      }

      #wp-submit {
        @include var(background-color, c_blue);

        border: 0;
        border-radius: 0;
        transition: transit(background-color);

        &:hover {
          @include var(background-color, c_dblue);
        }
      }
    }

    label {
      color: $blue;
    }
  }

  #login {
    h1 {
      a {
        background-image: url("../images/Orchestration-Online-logo.png");
        background-size: 274px 74px;
        width: unset;
      }
    }

    .message {
      @include var(border-left-color, c_blue);

      &.register {
        display: none;
      }
    }

    #nav a {
      @include colored-links(c_blue, c_comp, c_blue);
    }
  }
}
