.woocommerce {
  &-cart-form {
    .shop_table {
      width: 100%;

      thead {
        @include bp( 1, 1023 ) {
          display: none;
        }
      }

      tbody {
        @include bp( 1, 956 ) {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
      }

      tr {
        display: grid;
        justify-items: center;
        align-items: center;
        box-sizing: border-box;

        @include bp( 1, 956 ) {
          @include var(border-color, c_grey);

          border: 1px solid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(6, auto);
          gap: 20px 0;
          margin: 0 auto 20px;
        }

        @include bp( 957 ) {
          grid-template-columns: repeat(6, 1fr);
          gap: 50px;
          margin-bottom: 50px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      img {
        height: auto;
      }
    }

    .coupon {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      align-items: center;
      margin-bottom: 40px;

      .button {
        width: 160px;
      }

      .input-text {
        width: 200px;
      }
    }
  }
}

.cart-collaterals {
  margin-top: 50px;

  h2 {
    margin-bottom: 20px;
  }

  td {
    padding: 20px;
  }

  .checkout-button {
    @extend .btn;
    @extend .btn-primary;
  }
}

.ava-cart-basket-icon {
  &.cart-has-items {
    a {
      @include colored-links( c_comp, c_white, c_comp );
    }
  }
}
