.woocommerce-page {
  form.checkout {
    display: grid;
    gap: 50px;

    h3 {
      font-size: 24px;
    }

    @include bp( 1 ) {
      grid-template-columns: 1fr;
    }

    @include bp( 1024 ) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-template-areas:
        "left topright"
        "left bottomright";
    }

    #customer_details {
      @include bp( 1024 ) {
        grid-area: left;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
          "customer additional"
          "customer order";
      }
    }

    textarea.input-text {
      height: 200px;
    }

    .col {
      &-1 {
        @include bp( 1024 ) {
          grid-area: left;
        }
      }

      &-2 {
        @include bp( 1024 ) {
          grid-area: topright;
        }
      }
    }

    p {
      label,
      span {
        display: block;
      }

      label {
        margin-top: 30px;
        margin-bottom: 10px;
        font-weight: bold;
      }

      input,
      textarea {
        width: 100%;
      }
    }

    #order_review {
      margin-bottom: 1em;

      @include bp( 1024 ) {
        grid-area: bottomright;
        align-self: end;
      }

      &_heading {
        margin-bottom: 30px;
      }

      tr {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        text-align: left;
        margin: 10px 0;
      }
    }

    #payment {
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

      li {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}

.select2-container {
  .select2-selection--single {
    @include var(border-color, c_grey);

    height: unset;
    padding: 9px;
    border-radius: 0;

    .select2-selection__arrow {
      height: 46px;
    }
  }
}

.woocommerce-order {
  margin-top: 50px;

  &-details {
    margin: 50px 0;

    &__title {
      margin-bottom: 30px;
    }

    .woocommerce-table {
      tr {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        text-align: left;
        margin: 10px 0;
      }
    }
  }
}
