.woocommerce-account {
  .woocommerce-MyAccount-navigation {
    ul {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      list-style-type: none;
      padding: 0;
      margin: 0 0 50px 0;

      @include var(background-color, c_grey);
    }

    li {
      a {
        padding: 15px 30px;
        display: inline-block;
      }
    }
  }
}
