.single-product {
  #main {
    .product {
      display: grid;

      @include bp( 1, 1023 ) {
        gap: 30px;
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
          "image"
          "meta"
          "tabs"
          "related";
        align-items: center;
      }

      @include bp( 1024 ) {
        gap: 50px;
        grid-template-columns: minmax(0, 1fr) 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
          "image meta"
          "tabs tabs"
          "related related";
      }

      .onsale {
        @include var(color, c_white);
        @include var(background-color, c_comp);

        grid-area: image;
        position: absolute;
        z-index: 2;
        line-height: 1;
        padding: 15px;
      }

      .woocommerce-product-gallery {
        grid-area: image;

        figure {
          max-width: 600px;
          display: grid;
          gap: 10px;
          grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
          margin: 0 auto;

          @include bp( 670 ) {
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
          }

          .woocommerce-product-gallery__image {
            &:first-of-type {
              grid-column-start: 1;
              grid-column-end: -1;
            }
          }
        }

        img {
          display: block;
          height: auto;
        }
      }

      .entry-summary {
        grid-area: meta;

        .product_title {
          margin-top: 0;
          line-height: 1;
        }

        .price {
          @include var(color, c_blue);

          font-size: 22px;
        }

        .qty {
          padding: 13px;
        }

        .button {
          @extend .btn;
          @extend .btn-primary;

          margin: 20px 0;
        }

        .sku_wrapper,
        .posted_in {
          display: block;
          margin-bottom: 10px;
          font-size: 14px;
        }
      }

      .woocommerce-tabs {
        grid-area: tabs;

        .tabs {
          list-style-type: none;
          margin: 0;
          padding: 0;
          border-bottom: 1px solid;

          @include var(border-bottom-color, c_grey);

          li {
            display: inline-block;
            border: 1px solid grey;
            border-bottom: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            a {
              padding: 16px;
              line-height: 1;
              display: block;

              @include colored-links( c_blue, c_black, c_blue );

              text-transform: uppercase;
            }
          }
        }

        .panel {
          @include var(border-color, c_grey);

          border: 1px solid;
          border-top: 0;
          padding: 1em;
        }

        .stars {
          a {
            position: relative;
            display: inline-block;
            width: 16px;
            height: 16px;
            font-size: 0;
            color: transparent;

            &::before {
              @include var(background-color, c_blue);

              content: "\f005";
              position: absolute;
              top: 0;
              left: 0;
              width: 1em;
              height: 1em;
              z-index: 10;
              font-family: "Font Awesome 5 Free", serif;
              font-weight: 400;
              font-size: 16px;
            }

            &.active {
              &::before {
                font-weight: 900;
              }
            }
          }
        }

        .comment-form {
          &-comment,
          &-author,
          &-email {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1em 1fr;
            gap: 20px 0;
          }
        }
      }

      .related {
        grid-area: related;

        .products {
          margin: 50px 0;
          padding: 0;
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
          gap: 30px;

          .product {
            @extend .ext-product;
          }
        }
      }
    }
  }
}

.product {
  del {
    font-size: 14px;
  }

  ins {
    font-size: 22px;
    text-decoration: none;
  }
}
