.nav-primary {
  background-color: $grey;
  position: sticky;
  top: 0;
  z-index: 9;
  box-shadow: 0 -2px 29px -2px rgba($blue, 0.25);
  border-top: 1px solid rgba($white, 0.2);

  .admin-bar & {
    top: 32px;
  }

  .container {
    @include sitewidth;
  }

  .menus-wrapper {
    @include bp( 1024 ) {
      display: grid;
      grid-template-columns: minmax(0, 1fr) 300px;
      gap: 0 50px;
    }
  }

  .main-menu {
    @include bp( 1, 1023 ) {
      max-height: 400px;
      overflow-y: scroll;
      margin: 0 20px;
    }
  }

  ul.nav {
    & > li {
      @include bp( 1024 ) {
        float: left;
        border-left: 1px solid rgba($white, 0.2);

        &:last-of-type {
          border-right: 1px solid rgba($white, 0.2);
        }
      }

      a {
        @include colored-links( c_fixedwhite, c_fixedwhite, c_fixedwhite );

        &:hover {
          background-color: $dblue;
        }
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .sub-menu {
      display: none;
      margin-left: 15px;
    }
  }

  li {
    position: relative;

    @include bp( 1024 ) {
      display: inline-block;
    }

    .drop-dropdown {
      @include bp( 1 ) {
        right: 0;
      }

      @include bp( 1024 ) {
        right: -30px;
      }
    }

    &:hover > ul,
    &:focus > ul {
      @include bp( 1024 ) {
        @include var(background-color, c_grey);

        position: absolute;
        display: block;
        width: 200px;
        left: -16px;
      }
    }

    ul {
      li {
        display: block;

        .drop-dropdown {
          right: 0;
        }

        &:hover > ul,
        &:focus > ul {
          @include bp( 1024 ) {
            @include var(background-color, c_grey);
            @include var(border-color, c_fixedwhite);

            position: absolute;
            display: block;
            width: 200px;
            left: 100%;
            top: 0;
            margin-left: 0;
            border-left: 3px solid;
          }
        }
      }
    }
  }

  .drop-dropdown {
    @include var(color, c_white);

    padding: 16px 19px;
    line-height: 1;
    position: absolute;
    top: 0;
    cursor: pointer;

    .svg-inline--fa {
      @include var(color, c_blue);
    }

    @include bp( 1024 ) {
      display: none;
    }
  }

  a {
    text-decoration: none;
    padding: 16px;
    display: block;
    line-height: 1;

    @include colored-links( $white, $comp, $white );

    @include bp( 1024 ) {
      text-transform: uppercase;
    }
  }
}

.login-register-menu {
  justify-self: end;

  a {
    @include colored-links( c_blue, c_dblue, c_blue );
  }
}

.nightmode {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
  padding: 16px 15px;
  line-height: 1;
  cursor: pointer;

  @include var(color, c_white);

  &:hover {
    color: $blue;
  }

  &-on {
    color: $comp;
  }
}
