.social {
  &-menu {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-block;
    }

    a {
      @include bp( 1, 1023 ) {
        @include colored-links( c_fixedwhite, c_blue, c_fixedwhite );
      }

      padding: 14.5px 19px;
      line-height: 1;
      display: block;

      @include bp( 1024 ) {
        @include var(background-color, c_blue);
        @include colored-links( c_fixedwhite, c_fixedwhite, c_fixedwhite );

        border-radius: 8px;

        &:hover {
          @include var(background-color, c_hover);
        }
      }
    }
  }

  &-header {
    align-self: center;
    justify-self: end;
  }

  &-footer {
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid;

    @include var(border-color, c_grey);
  }
}
