@import "latest-blog-posts";
@import "announcement-block";
@import "text-image-block";
@import "orchestration-blogs-block";
@import "link-list-block";
@import "books-block";

#blockTitle {
  font-size: 1.8em;
  text-align: center;
  margin: 0 0 50px 0;
  line-height: 1;
  color: white;
  padding: 10px 0;

  @include var(background-color, c_grey);
}

.ava-block {
  .block-title {
    @extend #blockTitle;
  }

  .separator {
    display: block;
    height: 5px;
    margin: 20px 0;
    border-left: 50px solid;
    border-right: 20px solid;

    @include var(background-color, c_grey);
    @include var(border-left-color, c_blue);
    @include var(border-right-color, c_blue);

    &.thin-sep {
      height: 2px;
    }
  }
}
