.books-block {
  img {
    display: block;
  }

  .book {
    &-wrapper {
      display: grid;
      gap: 20px;
      margin-bottom: 40px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &-title {
      margin: 0;
    }

    &-images {
      a.buy-book-link {
        @include var(background-color, c_grey);

        display: block;
        padding: 5px 10px;
      }

      @include bp( 1 ) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px 0;
      }

      .image {
        @include bp( 1 ) {
          @include center-block;
        }
      }
    }
  }

  @include bp( 1024 ) {
    .thumbs {
      &-0,
      &-1,
      &-2 {
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
          "title title"
          "content thumbs";

        .book {
          &-title {
            grid-area: title;
          }

          &-content {
            grid-area: content;
          }

          &-images {
            grid-area: thumbs;
          }
        }
      }

      &-0 {
        grid-template-columns: 1fr;
        gap: 20px 0;
      }

      &-2 {
        grid-template-columns: 1fr 1fr;

        .book {
          &-images {
            display: grid;
            grid-template-columns: repeat(2, minmax(200px, 1fr));
            gap: 0 10px;
          }
        }
      }

      &-3 {
        grid-template-columns: 1fr;

        .book {
          &-images {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(0, 200px));
            gap: 10px;
          }
        }
      }
    }
  }
}
