.latest-blog-post {
  .latest-blog {
    display: grid;

    @include bp( 1 ) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      grid-template-areas:
        "thumb"
        "title"
        "content";
      gap: 30px 0;
    }

    @include bp( 1024 ) {
      grid-template-columns: auto 1fr;
      grid-template-rows: minmax(0, 100px) 1fr;
      grid-template-areas:
        "thumb top-content"
        "thumb bottom-content";
      gap: 0 30px;
    }

    .post-thumbnail {
      grid-area: thumb;

      @include bp( 1, 1023 ) {
        justify-self: center;
      }

      img {
        display: block;
      }
    }

    header {
      align-self: start;

      @include bp( 1 ) {
        grid-area: title;
        text-align: center;
      }

      @include bp( 1024 ) {
        grid-area: top-content;
        text-align: left;
      }

      h2 {
        margin-top: 0;
        line-height: 1;

        a {
          font-variant: small-caps;
          text-decoration: none;
          font-size: 32px;
        }
      }
    }

    .entry-summary {
      align-self: end;

      @include bp( 1 ) {
        grid-area: content;
        text-align: center;
      }

      @include bp( 1024 ) {
        grid-area: bottom-content;
        text-align: left;
      }
    }
  }
}
