.orchestration-blogs-block {
  .main-text {
    margin-bottom: 50px;
  }

  .orchestration-blog {
    min-height: 150px;

    .image {
      float: right;
      margin-left: 50px;
      margin-bottom: 50px;
      border: 1px solid;

      @include var(border-color, c_grey);

      img {
        display: block;
      }
    }

    .text {
      margin-top: 30px;
    }
  }
}
