.text-image-block {
  .text-image-wrapper {
    &.images-1,
    &.images-2 {
      display: grid;

      @include bp( 1 ) {
        grid-template-columns: 1fr;
        gap: 30px 0;
      }

      @include bp( 1024 ) {
        grid-template-columns: 3fr 1fr;
        gap: 0 50px;
      }

      .images {
        @include bp( 1, 1023 ) {
          grid-template-columns: repeat(auto-fill, minmax(auto, 200px));
        }
      }
    }

    &.images-3 {
      .images {
        grid-template-columns: repeat(auto-fill, minmax(auto, 200px));
        align-items: center;
      }
    }
  }

  .main-text {
    margin-bottom: 50px;
  }

  .images {
    display: grid;
    gap: 10px;
  }

  .title {
    margin-top: 0;
  }

  .image {
    img {
      display: block;
    }
  }
}
