.template-teacher-listings,
.archive,
.post-type-archive-teacher_cpt {
  .teacher {
    &-meta {
      position: relative;
    }

    &-details {
      display: none;
    }

    &_cpt {
      .show-hide-details {
        @include var(color, c_white);
        @include var(background-color, c_blue);

        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        cursor: pointer;
        line-height: 1;
        padding: 16px 17px;
        transition: transit(background-color);

        &:hover {
          @include var(background-color, c_comp);
        }
      }
    }
  }
}
