footer.content-info {
  @include var(background-color, c_grey);

  padding: 30px 0;

  .copyright-design {
    text-align: center;
    font-size: 12px;

    .copyright,
    .design,
    .powered,
    .sep {
      @include bp( 1, 1023 ) {
        display: block;
        line-height: 2;
      }

      @include bp( 1024 ) {
        display: inline-block;
      }
    }

    .sep {
      padding: 0 1em;

      @include var(color, c_white);

      @include bp( 1, 1023 ) {
        display: none;
      }
    }
  }
}

.footer-menu {
  position: fixed;
  top: 0;
  left: -150%;
  height: 100%;
  width: 300px;
  box-shadow: 5px 0 10px rgba(black, 0.5);
  transition: transit(left);
  z-index: 999999;
  background-color: $grey;

  // @include var(background-color, c_grey);

  @include bp( 1024 ) {
    display: none;
  }

  &.open {
    left: 0;
  }

  .custom-logo-link {
    padding: 10px 20px;
    display: block;
  }

  .hamburger {
    display: none;
  }

  .nav-primary {
    position: relative;

    &.open {
      display: block;
    }
  }

  .social {
    &-mobile {
      margin-bottom: 30px;
      position: absolute;
      bottom: 0;
    }

    &-icons {
      padding-left: 20px;
    }
  }

  .close-menu {
    background-color: $grey;
    // @include var(background-color, c_grey);

    position: absolute;
    right: -48px;
    cursor: pointer;

    .svg-inline--fa {
      color: white;
      // @include var(color, c_white);

      padding: 16px 18.5px;
    }
  }
}

.menu-underlay {
  position: fixed;
  top: 0;
  right: -150%;
  width: 100%;
  height: 100%;
  background-color: rgba(black, 0.8);
  transition: transit(right);
  z-index: 8;

  @include bp( 1024 ) {
    display: none;
  }

  &.open {
    right: 0;
  }
}

#back-to-top {
  @include var(background-color, c_comp);

  position: fixed;
  right: 50px;
  bottom: 50px;
  padding: 0 9px;
  line-height: 1;
  border-radius: 100%;
  font-size: 48px;
  display: none;
  z-index: 99;

  @include colored-links( c_white, c_white, c_white );

  &:hover {
    background-color: $blue;
  }
}
