// TODO: .banner .nav li {}
// TODO: .banner .nav a {}

.brand {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

.banner {
  background-color: $grey;
  // @include var(background-color, c_grey);

  .container {
    @include sitewidth;
  }

  .nav-primary {
    box-shadow: 0 -2px 29px -2px rgba($blue, 0.25);
    border-top: 1px solid rgba(white, 0.2);

    .main-menu {
      @include sitewidth;
    }
  }
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "logo social"
    "menu menu";

  .custom-logo-link,
  .brand {
    grid-area: logo;
    align-self: center;
  }

  .custom-logo-link {
    padding: 10px 0;
  }

  .social-menu {
    grid-area: social;
  }
}

.nav-primary,
.social-header {
  @include bp( 1, 1023 ) {
    display: none;
  }
}

.hamburger {
  grid-area: social;
  justify-self: end;
  align-self: center;
  cursor: pointer;

  @include bp( 1024 ) {
    display: none;
  }

  .svg-inline--fa {
    padding: 16px 17px;
    color: $white;

    // @include var(color, c_white);
  }
}
