.wrap.container {
  @include sitewidth;

  margin-top: 50px;

  .content {
    &.has-sidebar {
      @include bp( 1024 ) {
        display: grid;
        gap: 50px;
        grid-template-columns: 3fr 300px;
      }
    }
  }
}

.page-header {
  text-align: center;

  h1 {
    padding-bottom: 0.67em;
    word-break: break-word;
    border-bottom: 1px solid;

    @include var(border-color, c_grey);
    @include fluid-type( 1px, 1200px, 16px, 64px );
  }
}

.event-expired {
  // min-vw, max-vw, min-font-size, max-font-size
  @include fluid-type( 1px, 1200px, 16px, 32px );
  @include var(color, c_red);

  text-align: center;
  margin-top: 0;
  line-height: 1;
}
