.date,
.search,
.tag,
.category,
.author,
.blog {
  .post.hentry {
    display: grid;
    margin-bottom: 50px;
    padding: 30px;
    word-break: break-word;

    @include bp( 1 ) {
      grid-template-columns: 1fr;
      gap: 30px 0;
    }

    @include bp( 1024 ) {
      grid-template-columns: 300px 1fr;
      grid-template-rows: minmax(0, 100px) 1fr;
      grid-template-areas:
        "thumb top-content"
        "thumb bottom-content";
      gap: 20px 50px;
    }

    &:nth-child(odd) {
      @include var(background-color, c_offwhite);
    }

    &:nth-child(even) {
      @include var(border-color, c_offwhite);

      border: 1px solid;
    }

    .post-thumbnail {
      img {
        @include center-block;
      }

      @include bp( 1024 ) {
        grid-area: thumb;
      }
    }

    header {
      @include bp( 1024 ) {
        grid-area: top-content;
      }
    }

    .entry {
      &-summary {
        @include bp( 1024 ) {
          grid-area: bottom-content;
        }
      }

      &-title {
        margin-top: 0;
        line-height: 1;
      }
    }

    .addtoany_content {
      margin-bottom: 0;
    }
  }

  .posts-pagination {
    .pagination {
      text-align: center;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    li {
      display: inline-block;
    }

    span,
    a {
      @include colored-links( c_blue, c_hover, c_blue );

      line-height: 1;
      padding: 16px 19px;
      display: block;

      &.current {
        background-color: lighten($grey, 70);

        @include var(color, c_grey);
      }

      &.dots {
        @include var(color, c_grey);
      }
    }
  }
}

.entry-meta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 13px;
  margin-bottom: 50px;

  .the-author {
    text-align: right;
  }
}

.single {
  .entry-content {
    img {
      display: block;
    }
  }

  .post-navigation {
    @include var(color, c_white);
    @include var(background-color, c_grey);

    line-height: 1;
    padding: 0 20px;
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "prev next";

    a {
      @include colored-links( c_white, c_hover, c_white );

      display: inline-block;
      word-break: break-word;
    }

    .prev-link {
      grid-area: prev;

      a {
        padding: 16px 14px 16px 0;
      }
    }

    .next-link {
      justify-self: end;
      grid-area: next;

      a {
        padding: 16px 0 16px 14px;
      }
    }
  }
}

.related-posts {
  margin-top: 50px;

  &-title {
    @extend #blockTitle;
  }

  .related-posts-grid {
    display: grid;
    gap: 50px;
    margin-top: 50px;

    @include bp( 1 ) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    @include bp( 1024 ) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

  .related-post {
    padding: 20px;

    @include var(background-color, c_cream);

    &:nth-child(4n + 1),
    &:nth-child(4n + 2) {
      @include bp( 707 ) {
        @include var(background-color, c_offwhite);
      }
    }

    .entry-title {
      a {
        @include colored-links( c_dblue, c_hover, c_dblue );
      }
    }
  }

  .hentry {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-areas:
      "thumb meta"
      "content content";
    word-break: break-word;
    gap: 25px;

    .entry {
      &-summary {
        grid-area: content;
      }

      &-title {
        margin-top: 0;
        line-height: 1;
      }

      &-meta {
        display: block;

        .the-author {
          float: left;
        }
      }
    }
  }
}

.entry-categories-taxonomies {
  @include var(background-color, c_grey);

  margin: 50px 0;
  padding: 20px;

  &-title {
    h3 {
      margin-top: 0;

      @include var(color, c_widgettitle);
    }
  }

  .entry {
    &-categories,
    &-tags {
      &-title {
        font-weight: bold;
        display: inline-block;
        width: 100px;

        @include var(color, c_widgettitle);
      }
    }

    &-tags {
      margin-top: 20px;
      font-size: 14px;
    }
  }
}
