.widget {
  margin-bottom: 50px;

  &-title {
    @include var(color, c_widgettitle);
    @include var(background-color, c_grey);

    padding: 9.5px 15px;
    margin: 0 0 30px;
    text-align: center;
  }

  ul,
  ol {
    margin-left: 1em;
    padding-left: 1em;
  }

  .sub-menu {
    margin-left: 10px;
    padding-left: 0;
  }

  &.widget_search {
    .search-submit {
      display: none;
    }
  }
}

.widget_calendar {
  #wp-calendar {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;

    th {
      font-weight: 400;
      background-color: #edeff0;
      border: 1px solid #e2e4e7;
    }

    tbody {
      td {
        border: 1px solid #e2e4e7;
      }
    }
  }

  .wp-calendar-nav {
    text-align: center;
  }
}

.ava_show_product {
  text-align: center;

  .product {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;

    &-thumb {
      img {
        display: block;
      }
    }

    &-title {
      h3 {
        margin: 0;
      }
    }
  }
}
