.teacher {
  &-meta {
    display: grid;
    margin-bottom: 50px;

    @include bp( 1 ) {
      @include var(background-color, c_offwhite);

      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      grid-template-areas:
        "thumb"
        "name"
        "contact";
    }

    @include bp( 600 ) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "thumb name"
        "thumb contact";
      gap: 0 20px;
    }
  }

  &-details {
    display: grid;
    gap: 20px 0;
    margin-bottom: 50px;

    @include bp( 1 ) {
      grid-template-columns: 1fr;
    }

    @include bp( 600 ) {
      grid-template-columns: repeat(2, 1fr);
    }

    h3 {
      margin-top: 0;
    }
  }

  &-photo {
    grid-area: thumb;

    img {
      display: block;

      @include bp( 1, 599 ) {
        @include center-block;
      }
    }
  }

  &-name,
  &-contact {
    @include bp( 1, 599 ) {
      text-align: center;
    }
  }

  &-name {
    grid-area: name;
  }

  &-contact {
    grid-area: contact;
  }
}

.single-teacher_cpt {
  .acf-form-buttons-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

    .btn-wrap {
      justify-self: end;
    }
  }
}
