body {
  font-family: $sans;

  @include var(color, c_bodycolor);
  @include var(background-color, c_bodybackground);
  @include scrollbars(17px, var(--c_dblue), #eee);
  @include selection(var(--c_blue), #eee);
}

.wrap.container {
  .content {
    line-height: 1.6;
    letter-spacing: 0.62px;
  }
}

pre {
  white-space: pre-wrap;
}
