$serif: "PT Serif", serif;
$sans: "Lato", sans-serif;

/** Colors */
$fixedWhite: #fff;
$white: #fff;
$black: #000;
$red: #f00;
$offwhite: #eee;
$cream: #ccc;
$dblue: #0099e6;
$blue: #6cf;
$comp: complement($blue);
$hover: $comp;
$grey: #444;
$bodyColor: #444;
$bodyBackground: #fff;
$widgetTitle: #fff;

/** Box Model  */
$spacer:                2rem;

$vars: (
  "c_fixedwhite": $fixedWhite,
  "c_white": $white,
  "c_black": $black,
  "c_red": $red,
  "c_offwhite": $offwhite,
  "c_cream": $cream,
  "c_dblue": $dblue,
  "c_blue": $blue,
  "c_comp": $comp,
  "c_hover": $hover,
  "c_grey": $grey,
  "c_bodycolor": $bodyColor,
  "c_bodybackground": $bodyBackground,
  "c_widgettitle": $widgetTitle
);

:root {
  --c_fixedwhite: #{map-get($vars, c_fixedwhite)};
  --c_white: #{map-get($vars, c_white)};
  --c_black: #{map-get($vars, c_black)};
  --c_red: #{map-get($vars, c_red)};
  --c_offwhite: #{map-get($vars, c_offwhite)};
  --c_cream: #{map-get($vars, c_cream)};
  --c_dblue: #{map-get($vars, c_dblue)};
  --c_blue: #{map-get($vars, c_blue)};
  --c_comp: #{map-get($vars, c_comp)};
  --c_hover: #{map-get($vars, c_hover)};
  --c_grey: #{map-get($vars, c_grey)};
  --c_bodycolor: #{map-get($vars, c_bodycolor)};
  --c_bodybackground: #{map-get($vars, c_bodybackground)};
  --c_widgettitle: #{map-get($vars, c_widgettitle)};
}
